body {
    background: #000;
}

a,
p {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.page-content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 6em 2em;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #fff;
}

@media (max-width : 900px) {
    .page-content h1 {
        font-size: 10vw;
    }
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    z-index: 1;
}

.menu-bar a,
.menu-open p {
    color: #fff;
    cursor: pointer;
}

.menu-close p {
    color: #000;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    background: #aa3636;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
}

.menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-overlay-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

.menu-close-icon p {
    font-size: 100px;
    -webkit-text-stroke: 3px #aa3636;
    line-height: 70%;
}

.menu-links {
    padding-top: 2em;
}

.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder a {
    color: #000;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 85%;
}

.menu-info {
    display: flex;
}

.menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-info-col a,
.menu-info-col p {

    font-size: larger;
}

@media(max-width : 900px) {
    .menu-close-icon {
        display: none;
    }

    .menu-copy {
        padding-top: 8em;
    }

    .menu-link-item-holder a {
        font-size: 60px;
    }
}